h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1976d2;
    ;   
    

}

.sticky-form {
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 0px;
  }
